.surrogacyMain {
  background-image: url("../../images/Background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 852px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 90px;
}
.blueVectorDiv {
  background-image: url("../../images/HomePageImages/Vector.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 152px;
  position: absolute;
  bottom: 0;
}
.surrogacyMain {
  font-size: 128px;
  color: white;
  font-weight: 600;
}
@media all and (max-width: 1200px) {
  .surrogacyMain {
    height: 100vh;
    font-size: 110px;
  }
  .blueVectorDiv {
    height: 20vh;
  }
}
@media all and (max-width: 1000px) {
  .surrogacyMain {
    height: 95vh;
    font-size: 100px;
    padding-bottom: 0;
  }
  .blueVectorDiv {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .surrogacyMain {
    height: 90vh;
    font-size: 90px;
  }
}
@media all and (max-width: 600px) {
  .surrogacyMain {
    height: 70vh;
    font-size: 65px;
  }
}
@media all and (max-width: 500px) {
  .surrogacyMain {
    height: 380px;
    font-size: 50px;
  }
}
@media all and (max-width: 400px) {
  .surrogacyMain {
    font-size: 40px;
  }
}
