.myForm_main {
  width: 100%;
  margin-bottom: 50px;
}
.donor_body_info {
  flex-wrap: wrap;
}
.donor_body_info_item p {
  text-align: center;
}
.img-round {
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
}
#image_div {
  align-items: center;
}
