.profile_main {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  background-color: #0079a1;
}
.profile_elements {
  text-align: center;
  width: 80%;
  color: #0079a1;
  font-size: 36px;
  font-weight: 500;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
@media all and (max-width: 1000px) {
  .profile_elements {
    font-size: 32px;
  }
}
@media all and (max-width: 700px) {
  .profile_elements {
    font-size: 25px;
  }
}
