.eggDonationMain {
  padding: 50px;
}
.eggDonationFormHeader {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.eggDonationFormBody {
  display: flex;
  justify-content: space-around;
  margin: 25px;
  flex-wrap: wrap;
}
#checkboxDiv {
  width: 20%;
}
.inputDiv img {
  width: 100px;
  height: 100px;
}
#photoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image_input_div {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.image_input_div label {
  font-size: 20px;
}
.image_input {
  display: flex;

  justify-content: space-around;
  align-items: center;
  border: 1px solid #d9d9d9;
  height: 300px;
}
.image_input input {
  border: 1px solid #d9d9d9;
  padding: 15px;
}
.image_div {
  height: 280px;
  display: flex;
  align-items: center;
}

.image_div img {
  height: 280px;
}
@media all and (max-width: 1500px) {
  .image_input input {
    width: 24%;
    padding: 10px;
  }
}
@media all and (max-width: 1200px) {
  .image_input {
    flex-direction: column;
  }
  .image_input input {
    font-size: 10px;
    width: 100%;
  }
  .eggDonationMain {
    padding: 45px;
  }
  .eggDonationFormHeader {
    font-size: 37px;
  }
  .eggDonationFormBody {
    margin: 23px;
  }
}
@media all and (max-width: 1000px) {
  .image_input_div {
    width: 90%;
  }
  .image_input input {
    font-size: 15px;
  }
  .eggDonationMain {
    padding: 30px;
  }
  .eggDonationFormHeader {
    font-size: 32px;
  }
  .eggDonationFormBody {
    margin: 20px;
  }
}
@media all and (max-width: 800px) {
  .eggDonationMain {
    padding: 28px;
  }
  .eggDonationFormHeader {
    font-size: 31px;
  }
  .eggDonationFormBody {
    margin: 18px;
  }
}
@media all and (max-width: 700px) {
  .eggDonationMain {
    padding: 25px;
  }
  .eggDonationFormHeader {
    font-size: 30px;
  }
  .eggDonationFormBody {
    margin: 16px;
  }
  #checkboxDiv {
    width: 20%;
  }
}
@media all and (max-width: 500px) {
  .surrogacy_button {
    font-size: 15px;
    padding: 5px;
  }
}
@media all and (max-width: 400px) {
}
