.navbar_main_container {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.navbar_logo_container {
  width: 214px;
  height: 130px;
}
.navbar_navigate_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: 24px;
  color: #0079a1;
  font-weight: 500;
}
.navbar_navigate_container > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar_authButton_container {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
  color: #0079a1;
}
.navbar_authButton_container_button {
  text-align: center; /* Выравнивание текста по горизонтали */
  width: 168px;
  height: 75px;
  border-radius: 20px;
  display: flex; /* Превращаем контейнер в flex-контейнер */
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
}
.burgerMenu {
  display: none;
}
.active {
  background: #0079a1;
  color: white;
}

@media all and (max-width: 1500px) {
  .navbar_navigate_container {
    width: 60%;
  }
}

@media all and (max-width: 1300px) {
  .navbar_navigate_container {
    font-size: 20px;
  }
  .navbar_logo_container {
    width: 150px;
    height: 90px;
  }
  .navbar_authButton_container_button {
    width: 140px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
  }
}
@media all and (max-width: 1100px) {
  .navbar_navigate_container {
    font-size: 18px;
  }
  .navbar_logo_container {
    width: 120px;
    height: 70px;
  }
  .navbar_authButton_container_button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
  }
}

@media all and (max-width: 1100px) {
  .navbar_main_container {
    padding: 0 80px;
  }
  .navbar_navigate_container {
    display: none;
  }
  .navbar_authButton_container {
    display: none;
  }
  .burgerMenu {
    display: flex;
    align-items: center;
  }
}
@media all and (max-width: 1000px) {
  .navbar_logo_container {
    width: 150px;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 900px) {
  .navbar_logo_container {
    width: 150px;
  }
}
@media all and (max-width: 800px) {
  .navbar_main_container {
    padding: 0 75px;
  }
}
@media all and (max-width: 700px) {
  .navbar_main_container {
    padding: 0 70px;
  }
}
@media all and (max-width: 600px) {
  .navbar_main_container {
    padding: 0 60px;
  }
}
@media all and (max-width: 500px) {
  .navbar_main_container {
    padding: 0 30px;
  }
}
@media all and (max-width: 400px) {
  .navbar_main_container {
    padding: 0 30px;
  }
  .navbar_logo_container {
    margin-bottom: 5px;
  }
}
