.example_images_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.example_images_main h3 {
  text-align: center;
}
.example_images_photos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.example_images_photos img {
  width: 20%;
}
