.surrogacyMainDiv {
  padding: 50px;
}
.surrogacyFormHeader {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.surrogacyFormBordy {
  display: flex;
  justify-content: space-around;
  margin: 25px;
  flex-wrap: wrap;
}
.inputDiv {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 15px;
}
.inputDiv label {
  font-size: 20px;
  font-weight: 400;
}

.inputDiv input {
  border: 2px solid #d9d9d9;
  padding: 15px;
}
.inputDiv select {
  border: 2px solid #d9d9d9;
  padding: 15px;
}

#bigInput {
  width: 95%;
}
#aloneInput {
  width: 47.5%;
}
#checkboxInput {
  width: 5px;
  height: 5px;
}
.children {
  display: flex;
  width: 95%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.surrogacy_button {
  color: #8e8e8e;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #8e8e8e;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 15px;
}
.surrogacy_button:active {
  background-color: #0079a1;
  color: white;
  border: 2px solid #0079a1;
}
@media all and (max-width: 1200px) {
  .surrogacyMainDiv {
    padding: 40px;
  }
  .surrogacyFormHeader {
    font-size: 36px;
  }
  .inputDiv {
    width: 47%;
    margin: 12px;
  }
  #bigInput {
    width: 96%;
  }
  #aloneInput {
    width: 48%;
  }
  .inputDiv label {
    font-size: 18px;
  }
  .inputDiv input {
    padding: 14px;
  }
}
@media all and (max-width: 1000px) {
  .surrogacyMainDiv {
    padding: 40x;
  }
  .surrogacyFormHeader {
    font-size: 36px;
  }
  .inputDiv {
    width: 95%;
    margin: 12px;
  }
  #aloneInput {
    width: 100%;
  }
  .inputDiv label {
    font-size: 18px;
  }
  .inputDiv input {
    padding: 14px;
  }
  .inputDiv select {
    padding: 14px;
  }
  #checkbox {
    font-size: 10px;
  }
}
@media all and (max-width: 800px) {
  .surrogacyMainDiv {
    padding: 25px;
  }
  .surrogacyFormHeader {
    font-size: 32px;
  }
  .inputDiv {
    width: 100%;
    margin: 12px;
  }
  .inputDiv label {
    font-size: 15px;
  }
  .inputDiv input {
    padding: 12px;
    font-size: 13px;
  }
  .inputDiv select {
    padding: 12px;
    font-size: 13px;
  }
}
@media all and (max-width: 600px) {
  .surrogacyMainDiv {
    padding: 20px;
    margin-top: 25px;
  }
  .button_div {
    display: flex;
    justify-content: center;
  }
}
@media all and (max-width: 500px) {
  .inputDiv input {
    padding: 12px;
    font-size: 10px;
  }
  .inputDiv select {
    padding: 12px;
    font-size: 10px;
  }
  .surrogacy_button {
    font-size: 15px;
  }
}
@media all and (max-width: 400px) {
  .surrogacyMainDiv {
    padding: 10px;
  }
  .surrogacyFormHeader {
    font-size: 25px;
  }
  .inputDiv label {
    font-size: 13px;
  }
}
